<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
</head>
  <body>
            
        <div class="jumbotron jumbotron-fluid opa60">
                <div class="  container">
                  <h1 class="text-center lgtyellow">Take a Hike</h1>
                  <h3 class="text-center lgtyellow">Hike your way through the 48 4000 foot mountains of NH  </h3>
                  <h3 class="text-center lgtyellow">Track your progress, plan a hike and connect with other hikers </h3>
                  <div class="col-md-16 text-center"> 
                    <button id="singlebutton" name="singlebutton" class="btn btn-link lgtyellow">Let's Get Started!</button> 
                
                  

                </div>
              </div>
              <div>
        
              <img id="backgroundimage" src="/images/10677.jpg" alt="">
            </div>
            </div>
  
  </body>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
</html>



{{!-- <div id="home">
  <div class="container">

    <div class="row">

      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">

          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>

          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.Name}}</a>
             <strong>Elevation</strong>: {{this.Elevation}}
             <button class="btn float-right ">Check box</button>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>

          {{/each}}
        </ul>
      </div>

    </div>


  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
